@import "tailwindcss";

:root {
  --background: #f5f7f4;
  --foreground: #111827;

  --card: #ffffff;
  --card-foreground: #111827;

  --primary: #047857;
  --primary-foreground: #ffffff;

  --secondary: #ecfdf5;
  --secondary-foreground: #065f46;

  --muted: #f3f4f6;
  --muted-foreground: #6b7280;

  --border: #e5e7eb;

  --radius: 1.5rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-inter);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.font-display {
  font-family: var(--font-playfair);
}
